{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Reduce.py</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <meta name="viewport" content="width=device-width. initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/926fe18a63.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script>
        $(function () {
            $(".headC").click(function () {
                $(".headB").slideToggle();
            });
        });
    </script>
</head>

<body>
    <header>
        <div class="container">
            <div class="container-small">
                <a href="{% url 'index' %}" class="headA">
                    <img src="{% static 'img/logo.png' %}">
                </a>
                <button type="button" class="headC">
                    <span class="fa fa-bars" title="MENU"></span>
                </button>
            </div>

            <nav class="headB">
                <ul>
                    <li><a href="{% url 'index' %}">Top</a></li>
                    <li><a href="{% url 'contact_form' %}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="conA">
        <div class="container">
            <h1>Tool Collection</h1>
            <p>Do you have a lot of work? We provide tools to reduce the burden</p>
        </div>
    </section>
    <section class="conB">
        <div class="container">
            <div class="image">
                <img src="{% static 'img/content_a.png' %}">
            </div>
            <div class="text">
                <span>2022/02/06</span>
                <h2><a href="{% url 'contents' %}">twitter auto follow</a></h2>
                <p>twitterのフォローを自動で行うツールです。ご自身のトークン
                    を設定してから検索キーワードと繰り返す回数を入力するだけ
                    で半永久的にフォローを行います。ツイッター更新担当者様の
                    業務効率を促進します。</p>
            </div>
        </div>
        <div class="container">
            <div class="image">
                <img src="{% static 'img/content_b.png' %}">
            </div>
            <div class="text">
                <span>2022/02/06</span>
                <h2>twitter auto follow</h2>
                <p>twitterのフォローを自動で行うツールです。ご自身のトークン
                    を設定してから検索キーワードと繰り返す回数を入力するだけ
                    で半永久的にフォローを行います。ツイッター更新担当者様の
                    業務効率を促進します。</p>
            </div>
        </div>
        <div class="container">
            <div class="image">
                <img src="{% static 'img/content_c.jpg' %}">
            </div>
            <div class="text">
                <span>2022/02/06</span>
                <h2>twitter auto follow</h2>
                <p>twitterのフォローを自動で行うツールです。ご自身のトークン
                    を設定してから検索キーワードと繰り返す回数を入力するだけ
                    で半永久的にフォローを行います。ツイッター更新担当者様の
                    業務効率を促進します。</p>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="footA">
                <h2>Reduce.py</h2>
            </div>
            <nav class="footB">
                <div>
                    <ul>
                        <li><a href="{% url 'index' %}">Top</a></li>
                        <li><a href="{% url 'contact_form' %}">Contact</a></li>
                    </ul>
                </div>
            </nav>

            <div class="footC">
                @ 2022 reduce.py All rights reserved.
            </div>
        </div>
    </footer>

</body>

</html>